.indexbody {
	margin: auto;
	width: 100%;
	background: url("img/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

.container {
	position: 960px;
	margin: 0 auto !important;
	min-width: 960px
}

.header1 {
	width: 100%;
	background: linear-gradient(to left, #4B79A1 , #283E51);
    top: 0%;
	position: fixed;
	height: 80px;
	min-height: 60px; 
}

.nav > ul > li {
	list-style: none;
	float: right;
	margin-left: 8%;
	padding-top: 0%;
}

.nav {
	float: right;	
	width: 55%;
	position: absolute;
	right: 16%;
}

a {
	color: white;	
	text-decoration: none;
}

.logo {
	float: left;	
	font-family: Georgia;
	font-weight: bold;
	font-size: 75px;
	position: absolute;
	left: 15%;
	top: 0%;
	padding: 0 0 0 0;
}

.nav > ul > li > a:hover {
	background-color: #1d8dc7;
	-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    transition: 0.2s ease;
}

.nav > ul > li > a {
	display:block;	
	padding: 16px 30px;
}


.content2 {
	position: absolute;
	top: 320px;
	left: 20%;	
}

.w3-btn-floatingleft{
	position: absolute;
	left: 0%;
	transform: translate(0%,-50%);
	background: black;
	top: 50%;
	padding: 10px;
}

.w3-btn-floatingright{
	position: absolute;
	right: 0%;
	transform: translate(0%,-50%);
	background: black;
	top: 50%;
	padding: 10px;
}

.header1:hover {
	background: url("img/banner.JPG"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo:hover {
	color: lightblue; 
}
